@import "bootstrap/bootstrap.less";
@import "grails-overides.less";
@import "font-awesome/font-awesome.less";
/* =========== START: COLORS ======================================================================================== */
//== Colors
//
//## Gray and brand colors for use across Bootstrap.

@gray-base:              #000;
@gray-darker:            lighten(@gray-base, 13.5%); // #222
@gray-dark:              lighten(@gray-base, 20%);   // #333
@gray:                   lighten(@gray-base, 33.5%); // #555
@gray-light:             lighten(@gray-base, 46.7%); // #777
@gray-lighter:           lighten(@gray-base, 93.5%); // #eee

@brand-primary:         darken(#428bca, 6.5%); // #337ab7
@brand-success:         #5cb85c;
@brand-info:            #5bc0de;
@brand-warning:         #f0ad4e;
@brand-danger:          #d9534f;

.primary{
  color: @brand-primary;
}
.success{
  color: @brand-success;
}
.info{
  color: @brand-info;
}
.warning{
  color: @brand-warning;
}
.danger{
  color: @brand-danger;
}


/* =========== END: COLORS ========================================================================================== */


/* =========== START: MISC ========================================================================================== */

.marginTopDouble{
  margin-top: 12px;
}


.wrapperTop{
  margin-top: 50px;
}

.bordered{
  border: 1px solid @gray-light;
  background-color: #fafafa;
}

.grailsDomainNav a:focus, .grailsDomainNav a:hover {
  background-color: @brand-primary ;
}

/* =========== END: MISC ============================================================================================ */

.containerDisplay {
  font-size: @font-size-large;
  //border: 1px solid @gray-lighter;
  .row{
    padding-top: @padding-base-vertical;
    padding-bottom: @padding-base-vertical;
  }
}

.showValue {
  color: @gray
}

.showLabel {
  text-align: right;
  font-weight: bolder;
}

/* =========== END: SHOW SPECIFIC =================================================================================== */



/* =========== START: AUTH.GSP SPECIFIC ============================================================================= */
.authFormMarginTop {
  margin-bottom: 24px;
}

.wrapperAuth {
  margin-top: 150px;
}
/* =========== END: AUTH.GSP SPECIFIC =============================================================================== */


/* =========== START: FORM RELATED ================================================================================== */

.form{
  margin-top: 0px !important;
  padding-top: 0px !important;
  .glyphicon{
    color: @brand-warning;
    padding-right: 3px;

  }
}

.containerButtons{
  .row{
    padding-top: @padding-large-vertical;
    padding-bottom: @padding-base-vertical;
  }
  form{
    width: 120px;
    margin-right: @padding-base-horizontal;
    float: left;
  }
}

.containerForm{
  margin-top: 0px !important;
  padding-top: 0px !important;
  font-size: @font-size-large;
}

.buttonWithForm{
  width: 120px;
}
.formNoTopPadOrMargin {
  margin-top: 0px !important;
  padding-top: 0px !important;
}
/* =========== END: FORM RELATED ==================================================================================== */



/* =========== START: DATATABLES ==================================================================================== */
#defaultDataTable_filter,
#aircraftTable_filter {
  float: right;
  clear: both;
  color: #614b79;
  font-weight: bold;
  margin-bottom: 20px;
}
#defaultDataTable_filter input,
#aircraftTable_filter input {
  color: #333333;
  font-weight: normal;
}
#defaultDataTable,
#aircraftTable {
  clear: both;
}

table.dataTable thead .sorting {
  background-image: url("sort_both.png") !important;
}
table.dataTable thead .sorting_asc {
  background-image: url("sort_asc.png") !important;
}
table.dataTable thead .sorting_desc {
  background-image: url("sort_desc.png") !important;
}
table.dataTable thead .sorting_asc_disabled {
  background-image: url("sort_asc_disabled.png") !important;
}
table.dataTable thead .sorting_desc_disabled {
  background-image: url("sort_desc_disabled.png") !important;
}
/* =========== END: DATATABLES ====================================================================================== */


/* =========== START: date time picker this might effect other JQUERY UI STUFF ====================================== */
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{
  color: @brand-success !important;
}

input[readonly].dateTimePicker {
  background-color: #fff !important;
  /* any other styles */
}

.ui-widget-header {
  border: none !important;
  background: @brand-success !important;
  color: #ffffff;
  font-weight: bold;
}

#ui-datepicker-div{
  background-color: #e5e5e5;
}
.dateTimePicker{
  opacity: 1 !important;
  input{
    background-color: white !important;
  }
  input:-moz-read-only { /* For Firefox */
    background-color: yellow  !important;
  }

  input:read-only {
    background-color: white !important;
    opacity: 1;
  }
}
/* =========== END: date time picker ================================================================================ */


/* =========== START: FONT AWESOME ================================================================================== */

// Sprite icons path
// -------------------------
@iconSpritePath:          "../images/glyphicons-halflings.png";
@iconWhiteSpritePath:     "../images/glyphicons-halflings-white.png";

/* Bootstrap 2.0 sprites.less reset */
[class^="icon-"],
[class*=" icon-"] {
  display: inline;
  width: auto;
  height: auto;
  line-height: normal;
  vertical-align: baseline;
  background-image: none;
  background-position: 0% 0%;
  background-repeat: repeat;
  margin-top: 0;
}

/* more sprites.less reset */
.icon-white,
.nav-pills > .active > a > [class^="icon-"],
.nav-pills > .active > a > [class*=" icon-"],
.nav-list > .active > a > [class^="icon-"],
.nav-list > .active > a > [class*=" icon-"],
.navbar-inverse .nav > .active > a > [class^="icon-"],
.navbar-inverse .nav > .active > a > [class*=" icon-"],
.dropdown-menu > li > a:hover > [class^="icon-"],
.dropdown-menu > li > a:hover > [class*=" icon-"],
.dropdown-menu > .active > a > [class^="icon-"],
.dropdown-menu > .active > a > [class*=" icon-"],
.dropdown-submenu:hover > a > [class^="icon-"],
.dropdown-submenu:hover > a > [class*=" icon-"] {
  background-image: none;
}


/* keeps Bootstrap styles with and without icons the same */
.btn, .nav {
  [class^="icon-"],
  [class*=" icon-"] {
    //    display: inline;
    &.icon-large { line-height: .9em; }
    &.icon-spin { display: inline-block; }
  }
}
.nav-tabs, .nav-pills {
  [class^="icon-"],
  [class*=" icon-"] {
    &, &.icon-large { line-height: .9em; }
  }
}
.btn {
  [class^="icon-"],
  [class*=" icon-"] {
    &.pull-left, &.pull-right {
      &.icon-2x { margin-top: .18em; }
    }
    &.icon-spin.icon-large { line-height: .8em; }
  }
}
.btn.btn-small {
  [class^="icon-"],
  [class*=" icon-"] {
    &.pull-left, &.pull-right {
      &.icon-2x { margin-top: .25em; }
    }
  }
}
.btn.btn-large {
  [class^="icon-"],
  [class*=" icon-"] {
    margin-top: 0; // overrides bootstrap default
    &.pull-left, &.pull-right {
      &.icon-2x { margin-top: .05em; }
    }
    &.pull-left.icon-2x { margin-right: .2em; }
    &.pull-right.icon-2x { margin-left: .2em; }
  }
}

/* Fixes alignment in nav lists */
.nav-list [class^="icon-"],
.nav-list [class*=" icon-"] {
  line-height: inherit;
}
/* =========== END: FONT AWESOME ==================================================================================== */







